@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@model IEnumerable<SweetAndSavory.Models.Treat>

<h2>Treats for @User.Identity.Name</h2>
<br>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Description}", "Details", new { id = treat.TreatId })
      </li>
    }
  </ul>

} 
else
{
  <h3>No treats have been added yet!</h3>
}


<button type="button" class="btn-link">@Html.ActionLink("Add new treat", "Create")</button>
<button type="button" class="btn-link">@Html.ActionLink("Home", "Index", "Home")</button>





