@{
  Layout = "_Layout";
}

<h1>Sweet And Savory Shop!</h1>
<br>
<h3>@Html.ActionLink("See all treats", "Index", "Treats")</h3>
<h3>@Html.ActionLink("See all flavors", "Index", "Flavors")</h3>
<h3>@Html.ActionLink("Create an account", "Index", "Account")</h3>