@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Your eating habits are safe with us</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h2>Hello @User.Identity.Name!</h2>
    <br>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" value="Log out" />
        
    }
    <br>
}
else
{
    <button type="button" class="btn-link">@Html.ActionLink("Register", "Register")</button>
    <button type="button" class="btn-link">@Html.ActionLink("Log in", "Login")</button>
}
<button type="button" class="btn-link">@Html.ActionLink("Home", "Index", "Home")</button>