@{
  Layout = "_Layout";
}

@using SweetAndSavory.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    <span> </span>
    @Html.TextBoxFor(m => m.Email)
    <span> </span>
    @Html.LabelFor(m => m.Password)
    <span> </span>
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log in" class="btn btn-default" />
}