@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2><u>Add a new flavor</u></h2>
<br>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)<span></span>
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new flavor" />
}
<br>
<button type="button" class="btn-link">@Html.ActionLink("Show all flavors", "Index")</button>
<button type="button" class="btn-link">@Html.ActionLink("Home", "Index", "Home")</button>